*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass Mono', monospace;
    color: #edecf2;
    background: #37373e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #ff3d53;
    outline: none;
    transition: color 0.2s;
}

a:hover,
a:focus {
    color: #fff;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

/*Style for 15px White Border*/
.border{
    position: fixed;
    background: #fff;
    z-index: 1001;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1) 1.2s;
    -ms-transform: scale(1);
    transform: scale(1);

}
.top{
    height: 15px;
    width: 100%;
    left:0;
    position: fixed;
}

.right{
    height: 100%;
    width: 15px;
    right:0;
    position: fixed;
}
.bottom{
    height:15px;
    width: 100%;
    bottom:0;
    position: fixed;
}

.left{
    height:100%;
    width: 15px;
    left:0;
    position: fixed;
}

/*End Style For 15px White Border*/

.swiper-container {
    background: #00695C;
    width: 100%;
    height: 100vh;
    position:relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /*background: #fff;*/

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*For right to left animation*/
#allProjects{
    opacity:0;
    animation:load_up 2s forwards;
    -webkit-animation:load_up 2s forwards;
}

@keyframes load_up{
    from{opacity:.5;left:100%}
    to{opacity:1;left:0;}

}
@-webkit-keyframes load_up{
     from{opacity:0;left:100%}
     to{opacity:1;left:0;}

 }

/*left DateTime*/
.coDatetime small{
    position: absolute;
    left:30px;
    bottom:30px;
    color:#fff;
    letter-spacing: 1px;
}

/* Grid */
.grid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*width: 100%;*/
    /*padding: 0 7em;*/
    perspective: 900px;
    perspective-origin: 50% 150%;
}

.grid__item {
    position: relative;
    display: block;
    /*flex: none;*/
    /*width: 100%;*/
    /*margin: 1.5em 2vw;*/
    cursor: default;
    transform-style: preserve-3d;
}

.grid__item:hover,
.grid__item:focus {
    outline: none;
}

.grid__item--c1,
.grid__item--c1:hover,
.grid__item--c1:focus {
    color: coral;
}

.grid__item--c2,
.grid__item--c2:hover,
.grid__item--c2:focus {
    color: coral;
}

.grid__item--c3,
.grid__item--c3:hover,
.grid__item--c3:focus {
    color: coral;
}

.stack {
    position: relative;
    width: 100%;
    /*height: 200px;*/
    height:auto;
    transform-style: preserve-3d;
}

.stack__deco {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background-color: currentColor;
    /*transform-origin: 50% 100%;*/
}

.stack__deco:first-child {
    opacity: 0.2;
}

.stack__deco:nth-child(2) {
    opacity: 0.4;
}

.stack__deco:nth-child(3) {
    opacity: 0.6;
}

.stack__deco:nth-child(4) {
    opacity: 0.8;
}

.stack__figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    /*height: 100%;*/
    cursor: pointer;
    /*transform-origin: 50% 100%;*/
}

.stack__img {
    position: relative;
    display: block;
    flex: none;
    width: 100%;
    height: auto;
}

.grid__item-caption {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transform-style: preserve-3d;
}

.grid__item-title {
    font-size: 1.8em;
    width: 100%;
    margin: 1em 0;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.grid__item-title:after{
    content: '';
    width: 80px;
    display: block;
    border-bottom: 3px solid #fff;
    border-radius: 10px;
    transition-delay: 2s;
}

.column {
    width: 50%;
    padding: 0 0.5em;
    opacity: 0;
}

.column--left {
    text-align: right;
}

.column--right {
    text-align: left;
}

.column__text {
    font-size: 0.85em;
    display: block;
    color: #fff;
}

.column--left .column__text {
    font-weight: bold;
}

.column--right .column__text {
    color: #b0adad;
}

/* Individual effects */

/* Vega */
.grid--effect-vega .column {
    opacity: 1;
}